<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261295183908-kkn5l7v7bpquprj4umhju3sib01l05n5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261295183908-kkn5l7v7bpquprj4umhju3sib01l05n5</string>
	<key>API_KEY</key>
	<string>AIzaSyDX8vTWo4gt9ZUeXJdAZ0FNRv_MEEAjNvs</string>
	<key>GCM_SENDER_ID</key>
	<string>261295183908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laughsterapp.app</string>
	<key>PROJECT_ID</key>
	<string>laughster-push-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>laughster-push-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261295183908:ios:696b9cd32f0d88ff4d60b1</string>
	<key>DATABASE_URL</key>
	<string>https://laughster-push-notifications.firebaseio.com</string>
</dict>
</plist>