<div class="navbar">
    <div class="navbar-inner bg-color-darkred-transparent">
        <div id="appid" class="title text-color-white">
            <div class="padd2">
                <div class="inline-block fixed-width-30">
                    <a class="link back relative">
                        <div class="circled bg-image fullpadding fullwidth" style="background-image: url('{{iconthumbnailAPP}}');"></div>
                    </a>
                </div>
                <div class="inline-block"></div>
                <div class="inline-block size-16 text-tiny">&nbsp;{{firstname}} {{lastname}}</div>
            </div>
        </div>
        <div class="right size-28 paddLeftRight10 text-color-white"><img data-target="faicon" src="" alt="" /></div>
    </div>
</div>