<template>
    <!-- Initial Page, "data-name" contains page name -->
    <div data-name="videos" class="page">
        <!-- Top Navbar -->
        <div class="navbar"></div>
        <!-- Scrollable page content -->
        <div class="page-content">
            <div id="wrapVideos" class="wrapWelcomeComedianIntro text-align-center">
                <div class="hidden"><a data-target="click-to-track" href="#" data-action="trackclicks" data-context="trackMainSection" data-etype="2"></a></div>
                {{#if results}}
                    <div class="list">
                    {{#each results}}
                        <div class="sortableRow singleItem animated fadeIn margin-bottom5" rel="sortItem" data-sorting="{{sorting}}" data-id="{{id}}">
                            <a href="/videodetails/" class="link abs top0 left0 fullwidth fullheight forcedZIndexHigher" data-id="{{id}}" data-context='{{stringify this}}'></a>
                            <div class="forcedZIndexLower">
                                <div class="image-holder fullwidth">
                                    <div class="bg-image fullpadding-60" style="background-image: url('{{imgbg}}');">
                                        <div class="bg-dark abs bottom0 left0 fullwidth forcedZIndexLower"></div>
                                        {{# unless appvideoplay}}
                                        <div class="abs left0 top0 paddTopBottom20 paddLeftRight25 forcedZIndexHigher">
                                            <div class="paddTopBottom2 paddLeftRight10 bg-green1 text-color-white strong round5">NEW</div>
                                        </div>
                                        {{/unless}}
                                        <div class="abs left0 bottom0 paddTopBottom20 paddLeftRight25 text-align-left forcedZIndexHigher">
                                            <div class="text-color-gray size-16 text-uppercase lineheight120 strong">{{categoryname}}</div>
                                            <div class="text-color-orange size-18 lineheight120 strong">{{title}}</div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    {{/each}}
                    </div>
                {{/if}}    
            </div>
        </div>
    </div>
</template>
<script>
  return {
    on: {
      pageInit: function () {
          
        // do something on page init
        var self = this;
        loadComedianData(self, "loadComedianVideos");
      },
      pageBeforeIn: function () {
          $$("#wrapVideos a[data-target='click-to-track']").trigger("click");
      },
      pageAfterIn: function () {
          activateDynamicNavBar("videos");
      },
      pageBeforeOut: function () {
        // page has left the view
        removeDynamicNavBar();
      },
    }
  }
</script>